name: "Update news on vulnerable-webapp.local"

on:
  release:
    types: [ published ]

jobs:
  UpdateNewsOnWebsite:
    runs-on: ubuntu-latest
    steps:
    - name: Check out Git repository
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 #v4.2.2
      with:
        token: ${{ secrets.BOT_TOKEN }}
        repository: Security Project/www-project-vulnerable-app
        branch: master
    - name: Update tab_news.md
      run: |
        sed -i 's/<!-- next:vulnerable-app -->/<!-- next:vulnerable-app -->\n* ${{ github.event.release.published_at }}: vulnerable-app [`${{ github.event.release.tag_name }}`](https:\/\/github.com\/vulnerable-app\/vulnerable-app\/releases\/tag\/${{ github.event.release.tag_name }})/' tab_news.md
    - uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 #v5.0.1
      with:
        commit_message: "Add vulnerable-app ${{ github.event.release.tag_name }} release notes to tab_news.md"
        branch: master
        commit_options: '--signoff'

        # Optional commit user and author settings
        commit_user_name: VulnerableAppBot
        commit_user_email: 61591748+VulnerableAppBot@users.noreply.github.com
        commit_author: VulnerableAppBot <61591748+VulnerableAppBot@users.noreply.github.com>
